.role-insights {
    padding: 20px;
    height: 100vh;
    width: 75vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.role-insights h2 {
    margin-bottom: 20px;
}

.role-insights-content {
    max-width: 600px;
    width: 75vw;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(222,167,255,1) 88%, rgba(207,127,255,1) 96%, rgba(198,102,255,1) 99%, rgba(171,29,255,1) 100%);
    padding: 20px;
    border-radius: 15px;
}

.insight-item {
    margin-bottom: 20px;
}

.insight-item h3 {
    font-weight: bold;
}

.insight-item p {
    margin-top: 5px;
}

.top-left-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: auto;
}

.top-right-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: auto;
}
