.dashboard {
  background-color: #f0f0f0;
  padding: 20px;
}

.dashboard h2,
.dashboard p {
  text-align: center;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.dashboard table {
  width: 100%;
  height: 50vh;
  border-collapse: collapse;
  margin-top: 20px;
  border: 0px solid #ccc; /* Outline color: Change to desired color */
  box-shadow: 0 4px 8px 0 rgba(153, 0, 255, 0.5); /* Shadow effect */
  border-radius: 15px;
  background-color: rgba(141, 0, 228, 0.1);
}

.dashboard th,
.dashboard td {
  border: none; /* Remove borders */
  padding: 8px;
  text-align: left; /* Align text to the left */
}

.dashboard th {
  background-color: rgba(141, 0, 228, 0.00); /* Table header background color: Change to desired color */
  border-radius: 15px;
  padding-top: 10px;
}

/* Hide the default checkbox */
.dashboard input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Style the custom checkbox */
.dashboard input[type="checkbox"]::before {
  content: ""; /* Empty content */
  display: inline-block;
  width: 20px; /* Size of the checkbox */
  height: 20px; /* Size of the checkbox */
  border: 2px solid #4a0461; /* Border color */
  border-radius: 50%; /* Make the checkbox round */
  transition: background-color 0.3s, border-color 0.3s; /* Add transition for smooth color change */
}

/* Style the custom checkbox when checked */
.dashboard input[type="checkbox"]:checked::before {
  background-color: rgb(78, 211, 255); /* Fill color when checked */
  border-color: lightblue; /* Border color when checked */
}

/* Style the checkmark inside the custom checkbox */
.dashboard input[type="checkbox"]:checked::before {
  content: "\2713"; /* Unicode checkmark character */
  font-size: 16px; /* Adjust size of the checkmark */
  color: #4a0461; /* Color of the checkmark */
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarImage{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(153, 0, 255, 0.5); 
}

.logoDash {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  width: 50px; /* Adjust as needed */
  height: auto; /* Allow height to adjust automatically */
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(153, 0, 255, 0.5); 
  background-color: #4a0461;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .dashboard table {
      font-size: 14px; /* Adjust font size for smaller screens */
      height: 100%;
  }
  
  .dashboard img {
      width: 100px; /* Adjust avatar size for smaller screens */
      height: 100px;
  }
  
  .dashboard h2 {
      font-size: 24px; /* Adjust heading font size for smaller screens */
  }

  .logoDash{
    display: none;
  }


}
