body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginHeading{
    font-size: 20px;
    font-weight: bolder;
}

.login-container {
    max-width: 500px; /* Adjusted max-width */
    width: 90%; /* Responsive width */
    padding: 30px; /* Increased padding */
    margin: 20px;
    background-color: #eed1ffcf; /* Background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 1, 0, 1); /* Shadow effect */
    text-align: center; /* Align text to center */
}

.loginuser{
    height: 100px;
    margin: 10px;
}

.loginbutton{
    height: 10vh;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.loginbutton:hover {
    background-color: #aa00b351;
    padding: 10px;
    border-radius: 15px;
}


.form-group {
    margin-bottom: 20px; /* Increased margin-bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* Added margin-bottom */
}

input[type="text"],
input[type="password"],
input[type="number"] { /* Added input[type="number"] */
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

/* Placeholder for select */
select option[disabled] {
    color: #ccc;
}

button {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Added transition */
}