

.loading-container {
    position: fixed; /* Position the loading container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #9f00e3, #9f00e341);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9f00e3, #9f00e341);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9f00e3, #9f00e341);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    filter: drop-shadow(50px 50px 20px rgba(0, 0, 0, 0.7)); 
    z-index: 9999; /* Set a high z-index to ensure it's displayed above other content */
}

.logowithname {
    width: 750px; /* Adjust the width of your logo */
    height: auto;
    margin-bottom: 20px;
    border-radius: 25px;
    filter: drop-shadow(50px 50px 8px rgba(0, 0, 0, 0.7)); 

}

.loading-text {
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .logowithname{
        width: 350px;
    }
}
