.start-page {
    display: flex;
    flex-wrap: wrap;
}

.landingtile {
    width: calc(30% - 20px); /* 20% width with margin between tiles */
    margin: 10px; /* Margin between tiles */
    height: 200px; /* Fixed height */
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(234,199,255,1) 100%, rgba(188,77,255,1) 100%, rgba(120,68,198,1) 100%);    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 1, 0, 0.7); /* Shadow effect */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    overflow: auto;
}

.landingtile:hover{
    box-shadow: 0 0 20px rgba(0, 1, 0, 1); /* Shadow effect */
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(222,167,255,1) 88%, rgba(207,127,255,1) 96%, rgba(198,102,255,1) 99%, rgba(171,29,255,1) 100%);

}

.landingtile::-webkit-scrollbar{
    display: none;
}

.landingtile-content{
    flex-grow: 1    ;
}

.landingtile img{
    margin-top: 10px;
}

.clickImage{
    height: 60px;
}

.clickImage:hover{
    cursor: pointer;
    height: 70px;
}

@media screen and (max-width: 768px) {
    .landingtile {
        width: calc(50% - 40px); /* Two tiles per row for smaller screens */
        font-size: 16px;
        height: 175px;
    }
}
