* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #9f00e3, #9f00e341);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9f00e3, #9f00e341);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9f00e3, #9f00e341);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: auto;
    font-family: Graphik;

  }

.App::-webkit-scrollbar{
  display: none;
}
  
  .logo{
    border-radius: 10px;
  }
  
.top-left-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    height: 50px;
}

.top-right-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: auto;
    z-index: 999; /* Set a high z-index value to bring it to the top */

}

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
  .dashboard {
    width: 25%;
    flex: 1;
    background-color: #f0f0f0; /* Customize as desired */
    padding: 20px;
    overflow: auto;
  }
  
  .chatbot {
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 20px;
    height: 100%;
    overflow: auto;
  }

.dashboard::-webkit-scrollbar,
.chatbot::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}
  
.react-chatbot-kit-chat-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
    width: 73vw;
    height: 100%;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.react-chatbot-kit-chat-bot-message {
    background-color: #4a0461;
    width: 60vw;
}

.react-chatbot-kit-chat-bot-message-arrow {
    border-right: 8px solid #4a0461;
}

.react-chatbot-kit-chat-btn-send {
    background-color: #61045F;
}

.react-chatbot-kit-user-chat-message{
  margin-right: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.react-chatbot-kit-chat-btn-send{
  border-radius: 25px;
  margin: 5px;
  width: 3em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);

}

.react-chatbot-kit-chat-btn-send:hover{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);

}


.react-chatbot-kit-chat-input{
  border:none;
}

.react-chatbot-kit-chat-input-form{
  border-top: solid #9f00e3;
}

.CG {
    width: auto;
    height: 50px;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 100%;
  }

.UA {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.start-btn {
    background-color: #61045f6b;
    color: white;
    padding: .5rem 1rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
}

.measures-btn {
    background-color: #7f4bc0e4;
    color: white;
    padding: .5rem 1rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.measures-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjust the shadow as needed */
  background-color: #804bc0;
}

.trends-btn {
    margin-left: 1rem;
}

.quality-btn {
    margin-left: 1rem;
}

.img-component {
    margin-left: 3rem;
    display: flex; /* Make the container a flex container */

}

.img-container {
    width: 25vw;
    height: auto;
    border: 2px solid #61045F;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px; /* Add margin for gap between images */
}

.img-container2 {
    width: 75px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 50px; /* Add margin for gap between images */
    font-size: 12px;
    text-align: center;
}

.img-container:last-child {
    margin-right: 0; /* Remove margin from the last image */
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  /* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .dashboard, .chatbot {
    width: 100%;
    height: 100%;
  }
  .threeWidgets{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .measures-btn{
    width: 80%;
    margin: 0;
  }

  .measures-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
  }

  .react-chatbot-kit-chat-container {
    width: 100%;
  }
  .dashboard{
    overflow: visible;
  }
  .chatbot{
    overflow: visible;
  }
  .top-left-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    height: 50px;
}

.top-right-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: auto;
}
}