* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #7902cd;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48006c, #9f00e3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
  .dashboard {
    width: 25%; /* Adjust as needed for your dashboard width */
    background-color: #f0f0f0; /* Customize as desired */
    padding: 20px;
  }
  
  .chatbot {
    width: 75%; /* Adjust as needed for your chatbot width */
    padding: 20px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .dashboard, .chatbot {
      width: 100%;
    }
  }

.react-chatbot-kit-chat-container {
    width: 73vw;
    height: 100%;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 10px;
}

.react-chatbot-kit-chat-bot-message {
    background-color: #61045F;
    width: 60vw;
}

.react-chatbot-kit-chat-bot-message-arrow {
    border-right: 8px solid #61045F;
}

.react-chatbot-kit-chat-btn-send {
    background-color: #61045F;
}

.CG {
    background-color: #4e045c;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 100%;
  }

.start-btn {
    background-color: #61045F;
    color: white;
    padding: .5rem 1rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
}

.measures-btn {
    background-color: #924191;
    color: white;
    padding: .5rem 1rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    width: 25%;
}

.trends-btn {
    margin-left: 1rem;
}

.quality-btn {
    margin-left: 1rem;
}

.img-component {
    margin-left: 3rem;
    display: flex; /* Make the container a flex container */
}

.img-container {
    width: 185px;
    height: 185px;
    border: 2px solid #61045F;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px; /* Add margin for gap between images */
}

.img-container:last-child {
    margin-right: 0; /* Remove margin from the last image */
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
