
.welcome-container {
    text-align: center;
    padding: 20px;
}

.welcome-wrapper {
    height: 100vh;
}
    
.logo {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 50px; /* Adjust as needed */
    height: auto; /* Allow height to adjust automatically */
}

.welcome-wrapper h1 {
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 

}

.welcome-wrapper h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
    color: azure;


}

.welcome-wrapper h3{
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
    color: azure;


}

.user-image {
    margin-bottom: 20px;
}

.user-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
    margin-bottom: 30px;
}

.user-input {
    margin-bottom: 20px;
}

.search-box {
    position: relative;
    display: inline-block;
}

.search-box input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.user-input {
    margin-bottom: 20px;
    position: relative; /* Add relative positioning */
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.search-input {
    width: calc(100% - 40px); /* Adjusted input width to accommodate the microphone icon */
    padding: 10px;
    border: 1px solid #bf00ff;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
}

.microphone-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    height: 66%; /* Set the height of the icon to match the height of the input */
    width: auto; /* Allow the width to adjust automatically based on the height */
    border-radius: 5px; /* Add border-radius to round the corners */

}

.home-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4e0175;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    height: 75px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    border-radius: 50px;

}

.home-button:hover {
    background-color: #6200b3;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 28px;
    }

    .user-image img {
        width: 100px;
    }

    .search-box input[type="text"] {
        width: 150px;
    }
}
